TehranTimes
http://www.tehrantimes.com/component/ninjarsssyndicator/?feed_id=1&format=raw
//div[@class='article-indent']

FranceInfo
http://www.franceinfo.fr/rss.xml
//h2[@class='chapo']/..

Spiegel
http://www.spiegel.de/schlagzeilen/tops/index.rss
//div[@id='spArticleSection']
