TehranTimes
http://www.tehrantimes.com/*
http://tehrantimes.com/*
//div[@class='article-indent']

FranceInfo
http://www.franceinfo.fr/rss*
//h2[@class='chapo']/..

Les Echos
http://rss.feedsportal.com/c/499/f/413829/index.rss
http://syndication.lesechos.fr/rss/*
//h1/../..

Spiegel
http://www.spiegel.de/schlagzeilen/*
//div[@id='spArticleSection']

Le Soir
http://www.lesoir.be/feed/*
//div[@class='article-content']

Stack Overflow
http://stackoverflow.com/feeds/*
//*[@id='question']

Daily Telegraph
http://www.telegraph.co.uk/*
//*[@id='mainBodyArea']

Cracked.com
http://feeds.feedburner.com/CrackedRSS
//div[@class='content']|//section[@class='body']

TheOnion
http://feeds.theonion.com/*
//article
