Options -Indexes

ErrorDocument 403 "Access forbidden"
ErrorDocument 404 /cgi/main.py
ErrorDocument 500 "A very nasty bug found his way onto this very server"

<Files ~ "\.(py|pyc|db|log)$">
	deny from all
</Files>
